<nav class="navbar navbar-toggleable-md navbar-light bg-faded">

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li>
        Created by Suze Shardlow, July 2017
      </li>
    </ul>
    <ul class="nav-link navbar-nav navbar-right">
      <li class="nav-item">
        <a href="https://www.linkedin.com/in/suzeshardlow" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
      </li>

      <li class="nav-item">
        <a href="https://github.com/SuzeShardlow/skedaddle" target="_blank"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a></p>
      </li>
    </ul>
  </div>

</nav>
