<!DOCTYPE html>
<html class="container">
<head>
  <meta charset="utf-8">
  <title>S k e d a d d l e</title>
  <% include ./partials/stylesheets %>
</head>

<body>
  <% include ./partials/navbar %>

  <main>
    <% for (const type in messages) { %>
      <p class="alert alert-<%= type %>"><%= messages[type] %></p>
    <% } %>
    <%- body %>
  </main>

  <% include ./partials/scripts %>
</body>
<footer>

  <% include ./partials/footer %>

</footer>
</html>
