<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project 2</title>
    <script src="/js/client.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <main>
      <%- body %>
    </main>
  </body>
</html>
