<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Project 2</title>
  <% include ./partials/stylesheets %>
</head>

<body>
  <% include ./partials/navbar %>

  <main>
    <%- body %>
  </main>

  <% include ./partials/scripts %>
</body>
</html>
