<h1>Stations</h1>

<div class="container row">
  <% stations.forEach((station) => { %>
    <div class="col-lg-4 col-md-4">
      <div class="card station-list-card">
        <div class="card-block">
          <a href="/stations/<%= station.id %>">
            <h4 class="card-title"><%= station.name %></h4>
          </a>
          <p class="card-text">Zone <%= station.zones %></p>

        </div>
      </div>
    </div>
  <% }) %>
</div>
