<h1>Log in</h1>

<% if (locals.message) { %>
  <p><%= message %></p>
<% } %>

<form method="POST" action="/login" class="col-lg-5 col-sm-12">
  <div class="form-group">
    <label for="email">E-mail address</label>
    <input type="text" name="email" id="email" class="form-control">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="form-control">
  </div>

  <button class="btn btn-primary">Login</button>
</form>
